
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Miniver&family=Reem+Kufi:wght@400..700&display=swap');

:root {
    --Button-color:#ff9100;
    --Button-padding: 10px 18px ;
    --Button-font-size: 16px ;
    --Button-birder-radius: 22px;
    --Button-font-Size: 1.25rem;
    --Hover-Color:rgba(212, 125, 12, 0.24);
    


    --background-color:rgb(114, 26, 26);
    --Font-color:rgb(212, 126, 12);
    --Topic-Font-Size:35px;
    --Description-Font-Size:18px
}

*{
    font-family: "Poppins" sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/*Nav Bar */
header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgb(134, 26, 26);
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow:-10px 0 10px  rgb(0, 0, 0, 0.2)  ;

}

header .navbar .navitem{
    font-size: 1.25rem;
}
ul{
    list-style: none;
}

.logonav{
    color: white;
    text-decoration: none;
    font-size:1.5rem;
}

.navitem{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    gap: 80px;
    

}

.navbar .navitem .navdata {
    background-color: none;
    padding: 10px 18px ;
    border-radius: 22px;
    
}

.navbar .navitem .navdata:hover{
    color:var(--Button-color);
    background-color: var(--Button-color);
}

.link{
    text-decoration: none;
    color: white;

}

.menu-icon{
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
    


 .button:hover{
    color:white;
    background-color: rgba(209, 129, 23, 0.767)
 }



 

 /* Hero Section */
.hero-section {
    min-height: 100vh;
    background: var(--background-color);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10%;
    color: white;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

/* Left Content Styling */
.hero-section .section-content .section-detail {
    flex: 1;
    padding-right: 40px;
}

.section-detail .section-title {
    font-size: var(--Topic-Font-Size);
    font-family: 'Miniver', sans-serif;
    font-weight: 700;
    color: #ffa600; 
    margin-bottom: 10px;
}

.section-detail .section-subtitle {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    max-width: 70%;
    margin-bottom: 15px;
}

.section-detail .section-description {
    font-size: var(--Description-Font-Size);
    text-align:start;
    line-height: 1.6;
    max-width: 80%;
    margin-bottom: 20px;
}

/* Buttons Styling */
.section-content .Hero-button {
    display: flex;
    gap: 15px;
}

.Hero-button .Order-button,
.Hero-button .Contact-button {
    text-decoration: none;
    color: black;
    background-color: var(--Button-color);
    border-radius: 30px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.Hero-button .Contact-button {
    border: 2px solid #ffcc00;
}

.Hero-button .Contact-button:hover{
    transform: translateY(-5px);
}

.Hero-button .Order-button:hover {
    background-color: transparent;
    border:white solid;
    color:white;
    transform: translateY(-5px);
}

.Hero-button .Contact-button:hover {
    background-color:transparent;
    border:white solid;
    color:white;
}

/* Right Image Styling */
.hero-section .section-content .heroimg {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-section .section-content .heroimg .hero-coffee {
    max-width: 500px;
    height: auto;
}

/* About Section */
.about{
    padding: 100px 0  50px ;
    background-color: rgb(223, 217, 218);
    justify-content: center;
    
}

.about .about-content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    justify-content: center;
}

.about .about-image .image{
    width: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.about-title .title{
    padding: 0;
    text-align: center;
    padding: 10px 0 50px ;
    text-transform: uppercase;
    font-size: var(--Topic-Font-Size);
}

.about-title .title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 10px;
    background-color: var(--Button-color);
}

.about-title .about-description{
    padding: 0%;
    line-height: 30px;
    text-align: center;
    font-size: var(--Description-Font-Size);
    font-weight: bold;
    font-family:"Funnel", sans-serif ;
}

.about .about-title .social-link-list{
    display: flex;
    padding: 10px;
    justify-content: center;
    gap:25px;
}



.about .about-title .social-link-list .social-link{
    font-size: 2rem;
    color: rgb(75, 71, 71);
    transition: 0.2s ease;

}

.about .about-title .social-link-list .social-link:hover{
    color: var(--Button-color);
}

/*Gallery Page Styling*/
.Gallery-Section{
    padding: 50px 0  50px ;
    background-color:var(--background-color);
}

.Gallery-Section .Gallery-title{
    color:white;
    text-align: center;
    font-size: var(--Topic-Font-Size);

}
.Gallery-Section .Gallery-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 10px;
    background-color: var(--Button-color);
}



.Gallery-Section .Gallery-content{
    display: flex;
    justify-content: center;
}

.Gallery-Section .gallery-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center; 
}

.Gallery-Section .gallery-list .gallery-items{
    overflow: hidden;
    padding-top: 25px;
    width: 100%;
    justify-content:space-between;
    border-radius: 10px;
    display: flex;


}

.Gallery-Section .gallery-items .Item-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
}

.Gallery-Section .gallery-items:hover .Item-image{
    transform: scale(1.3);
}



/* Responsive Design */
@media (max-width: 768px) {
    .hero-section .section-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-section .section-content .section-detail {
        padding-right: 0;
    }

    .section-detail .section-description {
        max-width: 100%;
    }

    .hero-section .section-content .heroimg {
        margin-top: 30px;
    }

    .hero-section .section-content .heroimg .hero-coffee {
        max-width: 300px;
    }
 /* Nav Bar resposive */
    .navitem {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50%;
        background: rgba(134, 26, 26, 0.950);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px 0;
        text-align: center;
        transition: left 0.2s ease;
    }

    .navitem.active {
        display: flex;
    }

    .navdata {
        padding: 12px;
    }

    .menu-icon {
        display: block;
    }

    /* Responsive for About Section*/

    .about-content{
        flex-direction: column;
        

    }
    .about-content .about-image{
        align-items: center;
        justify-content: center;

        
    }


    /* Resposive for gallery Section */

    .Gallery-Section{
       flex-direction: column; 
    }

    .Gallery-Section .Gallery-content .gallery-items .Item-image{
        flex-direction: column; 
     }


    

}
