@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Reem+Kufi:wght@400..700&display=swap');

:root {
    --Button-color:rgb(212, 126, 12);
    --Button-padding: 10px 18px ;
    --Button-font-size: 16px ;
    --Button-birder-radius: 22px;
    --Button-font-Size: 1.25rem;
    --Hover-Color:rgba(212, 125, 12, 0.24);


    --background-color:rgb(114, 26, 26);

}

*{
    font-family: "Poppins" sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/*Nav Bar */
header{
    position: fixed;
    width: 100%;
    z-index: 5%;
    background-color: rgb(134, 26, 26);
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

header .navbar .navitem{
    font-size: 1.25rem;
}
ul{
    list-style: none;
}

.logonav{
    color: white;
    text-decoration: none;
}

.navitem{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    gap: 80px;
    

}

.navbar .navitem .navdata {
    background-color: none;
    padding: 10px 18px ;
    border-radius: 22px;
    
}

.navbar .navitem .navdata:hover{
    color:var(--Button-color);
    background-color: var(--Button-color);
}

.link{
    text-decoration: none;
    color: white;

}


    


 .button:hover{
    color:white;
    background-color: rgba(209, 129, 23, 0.767)
 }

 /* Hero Section */

 .hero-section{
    min-height: 200vh;
    background-color:var(--background-color) ;
 }

 .hero-section .section-content{
    display: flex;
    min-height: 100vh;
    color: white;
    align-items: center;
    justify-content: space-between;
 }

 .hero-section .section-content .section-detail{
    padding: 20px;
    margin: auto;
    
}

.section-title{
    font-size: 40px;
    font-family: ;
}
