
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Reem+Kufi:wght@400..700&display=swap');


:root {
    --Button-color:rgb(212, 126, 12);
    --Button-padding: 10px 18px ;
    --Button-font-size: 16px ;
    --Button-birder-radius: 22px;
    --Button-font-Size: 1.25rem;
    --Hover-Color:rgba(212, 125, 12, 0.24);


    --background-color:rgb(114, 26, 26);
    --Font-color:rgb(212, 126, 12);

}

*{
    font-family: "Poppins" sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/*Nav Bar */
header{
    position: fixed;
    width: 100%;
    z-index: 5%;
    background-color: rgb(134, 26, 26);
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

header .navbar .navitem{
    font-size: 1.25rem;
}
ul{
    list-style: none;
}

.logonav{
    color: white;
    text-decoration: none;
}

.navitem{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    gap: 80px;
    

}

.navbar .navitem .navdata {
    background-color: none;
    padding: 10px 18px ;
    border-radius: 22px;
    
}

.navbar .navitem .navdata:hover{
    color:var(--Button-color);
    background-color: var(--Button-color);
}

.link{
    text-decoration: none;
    color: white;

}


    


 .button:hover{
    color:white;
    background-color: rgba(209, 129, 23, 0.767)
 }

 /* Hero Section */

 .hero-section{
    min-height: 1cm;
    background-color:var(--background-color);
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px ;
 }

 .hero-section .section-content{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    max-width: 1200px
    
 }

 .hero-section .section-content .section-detail{
    flex: 1;
    padding-right: 20px;
    
}

.section-detail .section-title{
    font-size: 40px;
    font-family:'Miniver', sans-serif ;
    color: var(--Font-color);


}

.section-detail .section-title .section-subtitle{
    font-size: 30px;
    margin-top: 8px;
    max-width:  70%;
    font-weight:bold;

}

.section-detail .section-title .section-subtitle .section-description{
    font-size: 50px;
    max-width: 50px;
    
}

.section-content .Hero-button{
    padding: 5px;
    justify-content: center;

}

.section-content .Hero-button .Order-button{
    text-decoration: none;
    color: white;
    background-color: var(--Button-color);
    border-radius: var(--Button-birder-radius);
    padding: var(--Button-padding);
    font-size: var(--Button-font-Size);

}

.section-content .Hero-button .Contact-button{
    text-decoration: none;
    color: white;
    background-color: var(--Button-color);
    border-radius: var(--Button-birder-radius);
    padding: var(--Button-padding);
    font-size: var(--Button-font-Size);
    
}

.hero-section .section-content .heroimg .hero-coffee{
    padding-top:20px  ;
    max-width: 500px;
    margin-top: 50px;
    margin-right: 30px;

}
